button {
  border: 2px solid transparent;
  border-radius: 18px;
  line-height: 16px;
  padding: 8px 22px;
  background-color: #c8e7d7;
  color: rgba(#000, .6);
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  outline: none;
  transition-property: border, background-color, color;
  transition-duration: .1s;

  &:hover {
    border-color: rgba(#000, .2);
  }

  &:focus {
    border-color: rgba(#000, .2);
    border-style: dashed;

    &:hover {
      border-style: solid;
    }
  }

  &:active {
    border-color: transparent;
    outline: none;
    color: rgba(#000, .7);
    background-color: darken(#c8e7d7, 15%);
  }
}

input, select, textarea {
  width: 100%;
  display: block;
  line-height: 16px;
  padding: 10px 8px;
  border: 1px solid rgba(#000, .3);
  border-radius: 4px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;

  &:focus {
    border-color: rgba(#000, .6);
  }
}