*, *:before, *:after {
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

body {
  background-color: #e8e8e8;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.7em;
  line-height: 1.7em;
}

#app {
  display: block;
  padding-top: 65px;
  overflow: hidden;

  > nav {
    background-color: rgba(#fff, .5);
    position: absolute;
    box-shadow: 0 8px 25px rgba(#000, .03);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 65px;
    left: 0;
    top: 0;
    z-index: 2;

    > section {
      flex: 1 0 auto;
      padding: 0 20px;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:first-child {
        max-width: 300px;
      }

      &:last-child {
        max-width: 300px;
        justify-content: flex-end;
      }
    }
  }

  > main {
    display: block;
    min-height: 100%;
    overflow: auto;
    padding: 20px 45px 45px;
    position: relative;

    > section {
      overflow: hidden;
      min-height: 100px;
    }

    > footer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #f53f3b;
      height: 45px;
    }
  }
}

.primary-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;

  > li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}